*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.904) 0%, rgba(0, 0, 0, 0.61) 100%) ,url(../img/naves.jpg);
    background-size: cover;
}
/* NAVBAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: #fff;
}
.logo img{
    height: 60px;
}
.nav-menu a{
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
    margin-left: 20px;
    transition: .5s;
    border-radius: 5px;
}
.nav-menu a:hover{
    color: #fff;
    background-color: #000;
    transition: .5s;
} 